* {
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 40px;
  margin: 0 auto;
  max-width: 720px;
  padding: 12px;
  font-size: 1.125rem;

  font-family: sans-serif;
  line-height: 1.4;
  background: rgba(98, 157, 202, 0.2);
}

h1,
h2,
h3,
h4 {
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
}

h1,
h2 {
  font-weight: 300;
}

img {
  width: 100%;
  height: auto;
}
